body{
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    padding: 23px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
.nav-link:hover{
    color: #0660bd;
    border-bottom: 1px solid #0660bd;
}

.luppe_nav{
    border: none;
    background-color: white;
}
.img-fluid {
    max-width: 100%;
    height: 661px;
}
.text_pos{
    display: flex;
    align-items: center;
}
.bd-slider__subtitle {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.2;
}
.bd-slider__title {
    font-size: 72px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 25px;
}
.bd-slider__content  {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 26px;
    color: #888;
}
.bd-btn {
	display: inline-block;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: 600;
	color: #0660bd;
	text-align: center;
	padding: 12px 65px 12px 35px;
	text-transform: uppercase;
	position: relative;
	border: 1px solid #0660bd;
	z-index: 1;
	overflow: hidden;
    text-decoration: none;
}
	.bd-btn::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		display: inline-block;
		background-color: #0660bd;
		z-index: -1;
		transition: all 0.3s ease-out 0s;
	}

	.bd-btn span {
		font-weight: 700;
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 15px;
		border-left: 1px solid #0660bd;
		display: inline-block;
		
	}
    .bd-btn span::after {
        width: 0;
        transition: all 0.5s ease-out 0s;
    }
	.bd-btn:hover {
		
		color: white;
		
	}
    .bd-btn:hover::after {
        width: 100%;
    }
.bd-btn:hover span {
    color: #0660bd;
    background-color: white;
    transition-delay: .5s;
    transition-duration: .7s;
}

.pb-90 {
    padding-bottom: 90px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-120 {
    padding-top: 120px;
}
.bd-section__subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #0660bd;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.bd-section__title {
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
    position: relative;
    transition: all 0.3s ease-out 0s;
}
.bd-title-border {
    position: relative;
}


.bd-title-border::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #0660bd;
    
}
.bd-section__title::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #0660bd;
    
}
.bd-services-2__item {
    padding: 40px;
    box-shadow: 0px 3px 36px 0px rgb(6 6 6 / 8%);
    position: relative;
}
.bd-services-2__item:hover{
    border-bottom: 3px solid #0660bd;
}
.bd-services-2__title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: all 0.3s ease-out 0s;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
}
.bd-services-2__title:hover{
    border-bottom: 2px solid black;
    color: #000;
}
.mb-30 {
    margin-bottom: 30px;
}
.bd-services-2__icon {
    width: 60px;
    height: 60px;
    background-color: #f5f8fb;
    font-size: 25px;
    color: #000;
    line-height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
}
.bd-services-2__content {
    margin-bottom: 30px;
    transition: all 0.3s ease-out 0s;
    font-size: 14px;
    font-weight: normal;
    color:#888;
    line-height: 26px;
}
.link-btn-2 {
    position: relative;
    font-size: 14px;
    color: #0660bd;
    font-weight: 500;
    padding-right: 21px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease-out 0s; 
    text-decoration: none;
    line-height: 26px;
}
.link-btn-2 svg {
    
		font-size: 14px;
		position: absolute; 
		top: 12px;
		transform: translateY(-50%);
		transition: all ease .2s;
		-webkit-transition: all ease .2s;
		-moz-transition: all ease .2s;
		-ms-transition: all ease .2s;
		-o-transition: all ease .2s;  
}

.link-btn-2:hover {
    color: black;
}


.card-space{
    width: 360px;
    margin-right: 10px;
}
.bd-section__subtitle-lg {
    font-size: 21px;
    color: #0660bd;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.mb-10 {
    margin-bottom: 10px;
}
.bd-section__title-lg {
    font-size: 36px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
}


.bd-section__title-lg {
    font-size: 36px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
}
.bd-section__title {
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
}
.mb-25 {
    margin-bottom: 25px;
}
.about_p{
    
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 26px;
        color: #888;
    
}
.mt-7 {
    margin-top: 2rem!important;
}
.bd-counter__item {
    border-right: 1px solid #b7c3cf;
    margin-left: 25px;
    margin-right: 25px;
}
.bd-counter__icon {
    margin-right: 20px;
}
.bd-counter__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1.2;
    color: #000;
}
.bd-counter__info span {
    font-size: 21px;
    color:#888b93;
    display: inline-block;
    margin-bottom: 5px;
}
.mb-120{
    margin-bottom: 120px;
}

.craetive_position{
    display: flex;
    align-content: center;
    justify-content: center;
}
.mb-4rem {
    margin-bottom: 4rem!important;
}
.link-btn-3 {
    position: relative;
    font-size: 14px;
    color: #0660bd;
    font-weight: 500;
    padding-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none
    
}
.link-btn-3::after{
        content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		display: inline-block;
		background-color: #0660bd;
		transition: all 0.3s ease-out 0s;
        
}
.link-btn-3:hover{
    color:#0660bd;
}
.link-btn-3:hover::after{
    width: 30%;
}
.bd-cta__title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
}
.bd-cta__info  {
    color: white;
    font-size: 16px;
}
.primary-bg {
    background-color: #0660bd;
}
.pb-30{
    padding-bottom: 30px;
}
.pt-60{
    padding-top: 60px;
}
.bd-border-btn {
    position: relative;
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 60px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid white;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
}

.bd-border-btn:hover{
    color: #000;
    background-color: white;
    transition: all 0.3s ease-out 0s;
}

.bd-border-btn::before{
    transition: 0.5s all ease;
    position: absolute;
    top:0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: white;
}
.bd-border-btn:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.mb-90{
    margin-bottom: 90px;
}
.m-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.testimonial_name{
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.2;
}
.whatPeopleSay_cards{
    width: 352px;
    margin-right: 28px;
}
.bd-brand__item{
    border: 1px solid #888;
    margin: -1px 0 0 -1px;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bd-footer-widget__form input {
    height: 52px;
    width: 100%;
    padding-left: 20px;
    padding-right: 200px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #bfcddb;
}
.bd-footer-widget__form button {
    position: absolute;
    height: 52px;
    border: 1px solid #bfcddb;
    padding: 0 30px;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 4px;
    margin-left: -177px;
    color: #888;
}
.bd-footer-widget__form input::placeholder{
    color: #888;
    font-size: 14px;
}


.bd-footer-widget__icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    background: #f5f8fb;
    color: #888;
    transition: all 0.3s ease-out 0s;
    margin-right: 15px;
}
.bd-footer-widget__icons a:hover{
    background: #0660bd;
    color: white;
}
.footer-col-2 {
    display: inline-block;
    padding: 0 50px;
}

.bd-footer-widget {
    margin-bottom: 30px;
}
.bd-footer-widget__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.bd-footer-widget__menu ul{
    margin-left: -35px;
}
.bd-footer-widget__menu li{
    list-style: none;
    margin-bottom: 10px;
    width: 50%;
    float: left;
    
}
.bd-footer-widget__menu a{
    display: inline-block;
    text-decoration: none;
    color: #888;
    font-size: 14px;
}
.bd-footer-widget__menu a:hover{
    color: #0660bd;
}
.bd-footer-widget___content  p {
    margin-bottom: 30px;
}
.bd-footer-widget___right a{
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
}
.bd-footer-widget___right img{
    height: 80px;
    width: 80px;
    margin-left: -15px;
}
.bd-footer-widget___right a:hover{
    color: #0660bd;
}
.pb-50{
    padding-bottom: 50px;
}
.bd-border-top {
    border-top: 1px solid #bfcddb;
}
.bd-footer__copyright a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
.bd-footer__copyright span {
    color: #888;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
}
.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}
